[2016-11-03 22:19] PWN1109 opened #1 "Windows Compatibility"
Can you make it compatible with Windows? It doesn't compile as Windows needs its own dynamic loading (windows.h instead of dlfcn.h)

[2016-11-04 00:10] xlab commented on #1
I'll do that when I have enough time. You still can contribute your solution, it's easy to do (I'm serious). I just need to unwrap my PC with gtx after moving, setup everything back etc.

[2016-11-05 19:21] xlab commented on #1
Btw, getting bindings autogenerated for win32-specific code might be difficult as for now, I'm getting patches ready for support MinGW.

[2016-11-05 19:25] PWN1109 commented on #1
I have an almost working patch based on dlfcn-win32 as a dependency byt i'm still bothering with some linker errors, maybe this will help you: https://github.com/dlfcn-win32/dlfcn-win32

[2016-11-05 19:27] PWN1109 commented on #1
Also, i had some other problems using the windows.h way, but i can not remember why

[2016-11-05 19:53] xlab commented on #1
I'd stick to [LoadLibrary](https://msdn.microsoft.com/en-us/library/windows/desktop/ms684175(v=vs.85).aspx) because it's still required to use WinAPI in order to create window, etc.

[2016-11-05 20:53] xlab commented on #1
GLFW FTW.

[2016-11-05 23:28] xlab commented on #1
Implemented. Now works for Windows 32-bit or 64-bit. Window initialisation and pointer hooks are done via GLFW, see:

* http://www.glfw.org/docs/latest/vulkan_guide.html
* https://github.com/go-gl/glfw

There is a demo already that does VulkanInfo:

* https://github.com/vulkan-go/demos/tree/master/vulkaninfo_desktop

To get it running you need to download [GLFW 3.2+](http://www.glfw.org/download.h

[2016-11-06 16:14] PWN1109 commented on #1
Yeah, when I try to use your command, all I get is: http://hastebin.com/figoboyotu.tex . That's the same error I've been getting when I tried to port it myself.

[2016-11-06 16:18] PWN1109 commented on #1
Nevermind. Got it fixed with "-lpsapi" linker flag

[2016-11-06 16:18] #1 closed

[2016-11-06 16:36] xlab commented on #1
Whoa,thanks.  I wonder if I should include that linker flag too by default. Just for compatibility reasons.
Could you provide some specifics about your environment?

[2016-11-06 16:54] PWN1109 commented on #1
What details would you like me to provide you?

[2016-11-06 17:18] xlab commented on #1
OS version, compiler details (`gcc -v`), `go env` maybe. Thanks.

[2016-11-06 17:32] PWN1109 commented on #1
Here you go: http://hastebin.com/lacafaboju.sql

[2016-11-07 13:14] PWN1109 commented on #1
Moreover, i'm having some issues with ACCESS_VIOLATION, but i do not know yet if it's my fault or something in bindings

[2016-11-07 13:27] xlab commented on #1
@PWN1109 I'm running my simple examples with no problem
<img src="https://cl.ly/1q0h0s2s0Z14/Capture1.PNG" width="600" />

Things to try:

1) Try to update and rebuild vulkan-go/vulkan;
2) Try to use `github.com/vulkan-go/glfw/v3.3/glfw` as in demos;
3) Check out https://github.com/vulkan-go/demos/tree/master/vulkandraw demo, how the main.go is organized;
4) Check if you're calling `vk.InitInstanc

[2016-11-07 19:00] PWN1109 commented on #1
I've almost copied your vulkandraw and i'm getting ACCESS_VIOLATION on vk.InitInstance, are you available on some IRC or something? Issues are quite poor solution for conversations.

[2016-11-07 19:16] xlab commented on #1
@PWN1109 write me an email

[2016-11-07 21:01] xlab commented on #1
Ok, so just this part has been missing:

[code]

I'm locking the thread, please feel free to open new issues. Thanks.

[2016-11-28 22:58] nergdron opened #2 "fails to build on Ubuntu 16.10"
Just trying to install this library with "go get", and it's having problems finding all the function definitions for the C Vulkan library:

[code]

It doesn't seem to be resolving the headers properly, either the system ones (via libvulkan-dev package) or via the header files you've included in the repo under /vulkan. Any ideas?

[2016-11-28 23:14] xlab commented on #2
Hi!

Sorry, the desktop linux is the last platform I hadn't added yet.

The only linux target available for now is the compute one, where surface isn't created. For proper desktop linux support I'll add GLFW as well to create the surface, probably will go back to that in a few weeks.

You can add this by yourself, see Darwin / Windows examples, they are simple.

[2016-11-28 23:15] xlab commented on #2
P. S. the problem is that it doesn't link to the bridge code, because bridges have build constraints.

[2016-11-28 23:18] xlab commented on #2
Nevermind, adding support is not so simple on a second thought, I guess you'll need to wait a bit :P

You can run it on your iOS/ Android smartphone meanwhile :3

[2016-11-29 08:35] jfreymuth commented on #2
Actually it is quite simple:
add a linux build constraint to vk_wrapper_desktop.c
add https://gist.github.com/jfreymuth/da6eb6516a9d01df123e7afb74138aff

[2016-11-29 09:41] xlab commented on #2
@jfreymuth Thanks, this is good for initial support!

The full cover though includes some code generation for XCB/Wayland/Mir headers (all that extra code in wrappers, as in windows for example) and testing. I'll do that later.

@nergdron Can you check if it works for you? GLFW needs to be installed, at least 3.2.

[2016-11-29 21:36] nergdron commented on #2
Yeah, this solves my build problems anyway. Looks good to start with, thanks!

[2016-11-29 21:36] #2 closed

[2017-02-03 20:59] CreatureDev opened #4 "remove glfw dependency"

[2017-02-03 21:43] xlab commented on #4
@CreatureDev
Hi! Is this a suggestion or a question?

In order to remove support of GLFW, one should implement all 5 backends that GLFW covers for now: OS X, windows, linux-xcb, linux-wayland and linux-mir.

And instead 1 very popular, very lightweight dependency that is kept up-to-date, we will have 5 more dependencies with almost no guarantees nor support.

[2017-04-12 17:40] CreatureDev commented on #4
It was a suggestion as vulkan programs do not need a window to function. People could choose to create a program that simply does compute or off-screen rendering, and the GLFW dependency does nothing but inflate their program.

[2017-04-12 19:43] xlab commented on #4
@CreatureDev I understand your concern, note that for systems that really doesn't need a window, like Android and compute, there is no GLFW dependency.

The target is called "compute" and can be activated using building tag: `-tags compute`
https://github.com/vulkan-go/vulkan/blob/master/vulkan_compute.go

GLFW comes into the play only if you really need a window.

[2017-04-12 19:53] CreatureDev commented on #4
Ah I didn't realize that was an option
Thanks

[2017-04-12 19:53] #4 closed

[2017-06-12 07:24] joeblew99 opened #6 "Conditional compilation to target Apple Metal API"
As I understand it, to work on osx and iOS, we need to by "Molten" that is code that maps Vulkan calls to Aple's Metal API ?

I have not looked too deeply into this but historically Metal was a fork of Vulkan. Apple Just can't help itself :)

So, it maybe possible to use some conditional compilation to bypass Molten and target Metal direct ?

I am guessing you have also thought about this too but

[2017-06-12 11:16] xlab commented on #6
Vulkan != Metal
This makes no sense.

https://moltengl.com/moltenvk/

[2017-06-12 11:17] xlab commented on #6
Maybe some ideas are stolen, but currently there is no relation whatsoever.

[2017-06-12 11:18] #6 closed

[2017-06-12 17:12] gedw99 commented on #6
http://www.tomshardware.com/news/khronos-meta-api-vulkan-metal-directx12,33962.html

have to wait to see what its like maybe

[2017-10-09 16:17] AndrusGerman opened #7 "Request to help with the translation of the page"
Hello, I want to make this request to help translate the page vulkango-com. I am Spanish speaking and doing the Spanish translation of everything would make sense and would be easy to understand

[2017-10-09 18:56] xlab commented on #7
Hi @AndrusGerman your offer is highly appreciated, I'd like to work together, so we could deliver Vulkan API knowledge to broader audience..

Currently vulkango site is plans, that means I haven't yet started to work on the content. I will notify you as soon as I will have some material to share, so you could help with translation. I plan to start in late October.

Stay tuned!

[2017-10-11 02:20] AndrusGerman commented on #7
I will be aware of the mails to be able to help with the translation when
this project is initialized.

It will be a pleasure to work with you in the future.

2017-10-09 14:56 GMT-04:00 Maxim Kupriianov <notifications@github.com>:

[2017-10-22 17:47] rucuriousyet opened #8 "How heavily does this rely on CGO/C++ bindings?"
Just curious, how close to being pure Go is this project? I see some C files in the repo here but I thought I should ask the devs rather than guess...

[2017-10-22 17:48] rucuriousyet opened #9 "How can I help?"
Title says it all. I am a dev who has an interest in this side of things and alot of free time at the moment... how can I help?

[2017-10-23 03:44] rucuriousyet opened #10 "XCB or Wayland support and demo?"
I am very interested in seeing how this would draw to a X11 window created with XCB or do hardware compositing with Wayland

[2017-10-25 16:57] nick-korsakov commented on #9
@rucuriousyet, could you dive into the code, learn it architecture and explain it in some text file or inline here? I'm interested in this project too, but I have no much free time. My questions:
1. What is the overhead (%) of Go layer compared to the pure C call to Vulkan?
2. Is it full Vulkan API wrapper or it's just a minimal piece of it?

[2017-10-25 19:48] xlab commented on #9
@nick-korsakov

1. Varies from 0% to 1000%, depends on the overall workflow. It's obviously slower than pure C or Rust, but the idea is to provide much more easier methods to work with Vulkan. Go is simple to write and maintain, C is not.

2. It's 100% full. Autogenerated from the official headers, the latest version possible. It also covers all vendor extensions

[2017-10-25 19:51] xlab commented on #8
@rucuriousyet there are the official C API header files from Khronus
https://github.com/vulkan-go/vulkan/tree/master/vulkan

The bindings are generated for them. Vulkan architecture is that you use that API to call functions from a shared library, which is a single entrypoint and acts like a facade. I'm talking about libvulkan.

It's possible to generate Go code from XML spec and call functions fr

[2017-10-27 13:19] xlab commented on #10
Well, as long as XCB and Wayland support Vulkan. GLFW has the initialisation layer under its control, so AFAIK they should be supported..

[2018-02-08 16:35] hackwave commented on #10
I would like to see a demo for this too. Maybe I could do a screen sharing demo

[2018-02-08 17:53] xlab commented on #10
@hackwave try to compile the desktop demo under linux via go get

[2018-02-20 13:05] PlayerWithoutName opened #11 "pkg-config and --static flag"
On linux, this project fails to build because of --static flag not being parsed by cgo, this is connected to this issue: https://github.com/golang/go/issues/12058

Don't know about Windowsbeing affected, too. I'll prepare a pull request with fix in a few minutes.

[2018-02-20 13:07] PlayerWithoutName commented on #11
Also, here is the go build output:

go build github.com/vulkan-go/vulkan: invalid pkg-config package name: --static

[2018-02-21 05:45] #11 closed

[2018-03-04 18:39] rbxb opened #13 "Help! What do I need to do to get coding with Vulkan?"
I'm pretty new to Go and programming in general.
I am really interested to get working with Vulkan in Go but I don't know where to start. I understand that Vulkan and some other Go packages use C code behind the scenes and this requires a different compiler.
But I don't know what to get, how to install it, etc.
What programs do I need to install? I currently have Go 1.9.4 windows/amd64
When I star

[2018-03-04 18:57] xlab commented on #13
Hi, all vulkan code is go-gettable under major platforms such as Windows. I tested under Windows 10. It uses GLFW to initialize the window. See https://github.com/vulkan-go/demos for demos.

[code]

[2018-03-05 03:26] PopcornOne commented on #13
Hey thanks for the help!
I was able to get a sample GLFW program from [go-gl/gflw](https://github.com/go-gl/glfw#usage) working. I tested the sample program using the GLFW package from go-gl/gflw (v3.2) as well as the one from vulkan-go/gflw (gflw v3.3) and it worked using both.
Anyway, I still cannot get a Vulkan demo to build. I have MinGW 64 installed _(is this necessary?)_ and I got everything

[2018-03-05 13:46] xlab commented on #13
@PopcornOne hey try to manually delete `-Wl,--allow-multiple-definition` probably your MinGW setup doesn't have that.. Btw, configuring MinGW is always pain in ass :(

Also it seems that I provided you wrong instructions about GLFW above, sorry it was relatively long time ago. This project uses `vulkan-go/glfw` as it only one supporting Vulkan API now. It's not statically linked, so you have to in

[2018-03-05 17:06] PopcornOne commented on #13
Are these the flags in vulkan-go/vulkan/vulkan_windows.go?

Also, would it be better to reinstall MinGW that does support that?

[2018-03-05 18:16] xlab commented on #13
@PopcornOne
[code]

[2018-03-06 01:54] PopcornOne commented on #13
Hey. Thanks a million for the help!
I got the demos working.
I didn't need to install a different version of MinGW. I still get the error but it works regardless.

[2018-03-13 22:43] delaneyj commented on #13
Thank for leaving this issue open.  I'm on windows 10 pro 64bit using Mingw.  Manually deleting `-Wl,--allow-multiple-definition` was the magic sauce plus knowing where to add the proper headers/bin.  Can those options on windows be removed from master if they aren't needed and causing issues?

[2018-03-14 23:07] delaneyj opened #14 "Not able to use dep to isolate vulkan dependency"
Have a working example using `go get`, `go run main.go` works fine.

Use `dep init` to pull the same dependencies to the vendor folder.
[code]

It appears there is bad path resolution happening.
[code]

[2018-03-15 05:14] xlab commented on #14
Hi, it seems that dep omits some sources from the vendored dir, judging by the log lines.

Could you please verify that in this case:
[code]

You actually have `vendor\github.com\vulkan-go\vulkan\vulkan.h` in place?

Also, could be a path issue. At this point I'm not sure on which stage of the pipeline the problem is.

[2018-03-15 05:19] xlab commented on #14
It looks like an issue
https://github.com/golang/dep/issues/1223

that is surpassed by
https://github.com/golang/dep/issues/944

[2018-03-19 22:12] delaneyj commented on #14
Sorry, log weekend.

No, but it is in `C:\tools\mingw64\x86_64-w64-mingw32\include\GLFW` and gets picked up when building with a copy at `$GOPATH/src/github.com/vulkan-go/vulkan` instead of in `vendor`

[2018-03-20 05:21] xlab commented on #14
@delaneyj see the prune case. Godep removes C sources, it removed vulkan headers from your vendor/

[2018-03-20 15:57] delaneyj commented on #14
Sorry forgot to close here, yeah not your fault just good for others to know.  Curious how vgo would handle this.

[2018-03-20 15:57] #14 closed

[2018-04-09 21:55] splace opened #15 "'compute' build constraint tag"
had some trouble building the compute example.

the 'compute' constraint seemed to be necessary, not surprising since without it vkinit() was checking for a window.

    go build -tags="compute" main.go

but i also needed to make two files skip compilation for this constraint (maybe just a problem with a Linux built?);

"vulkan_linux.go"

    // +build linux,!android
changed too

    // +build !an

[2018-04-11 02:14] SCKelemen opened #16 "Website down"
Has this project been abandoned? The website is currently down.
https://vulkango.com/

[2018-04-19 18:14] kjozic opened #17 "Vulkan 1.1 support"
When can we expect support for the Vulkan 1.1?

[2018-04-19 22:56] xlab commented on #17
Yes.

[2018-05-26 23:39] splace opened #18 "documents as links not ideal"
example
[code]
seems to me a couple of issues with providing documentation as links to documentation.

1. in the case above the link target has changed, or rather is redirected, in the case above its to https://www.khronos.org/registry/vulkan/specs/1.1-extensions/man/html/VkFlags.html which i guess is fine since i would say its very likely still valid for version 1.0., but its surprising.

2. when

[2018-05-27 20:13] xlab commented on #18
Hi, the links are generated automatically without any analysis, the generator just puts a prefix + the name of an object. Some links are simply broken. I acknowledge the problem, but there is no a quck way to fix that, I can't edit the codebase since it's autogenerated from C sources..

I will think about better approach, but the problem remains open.

[2018-05-27 21:35] splace commented on #18
Thanks,

i submitted the issue hoping the auto-generator had this ability.

i originally thought about doing this with some go code myself, could go back to that, since now i get its the C sources that have the references.

i'll look in to how i might textify the html, maybe the spec pages have some nice style/content separation.

[2018-06-02 19:10] splace commented on #18
after some thought, and checking...

khronos only do the spec., no software, their product is the spec., and its open source, but the documentation of the spec. is copyrighted, it does allow copying but not re-distribution.

so the descriptions shouldn't be included in this wrapper, as they weren't, and thats probably why the C has links.

however;

if you had some code that could download, parse

[2018-06-04 05:39] hankpin commented on #18
src="/assets/static/detect-f5c850050acb63fb62a5bdab0fae8503.min.js"></script>
<script src="/assets/static/app-e7a00f5a7d3bfd87c9f9225bd04e67b9.min.js"></script> </body> </html>

[2018-06-04 05:56] hankpin commented on #18
Sometimes we need to use the browser for open authentication process like payment or sign in or other things for this we provide the response URL on success or failure through which identify when we have to close the safari.

Here I have taken a basic example where we are are creating the “test.html” file  and we are returning the custom URL look like:

1
2
3
4
5
6
7
8
<!DOCTYPE html>
<html>
    <

[2018-06-04 15:08] splace commented on #18
@hankpin  please remove

[2018-06-05 13:44] postspectacular opened #19 "build error under OSX 10.12.6"
Hi, with the official deprecation announcement of OpenGL for OSX, I started looking into this exiciting project, but am getting struck down cold by the very first initial step:

[code]

I just have built MoltenVK and verified it works by running some demos, but it doesn't seem their build process installs the framework globally. Do you have any docs or config options for a) installing that framewo

[2018-06-05 20:18] shurcooL commented on #19
Have you tried following the instructions at https://github.com/vulkan-go/demos#how-to-run-on-desktops? It has some special instructions for building on macOS.

[2018-06-05 21:44] postspectacular commented on #19
@shurcooL thanks, I didn't see those, doh! But even so and also after putting in the correct GLFW paths, there are other issues with a first build and just documenting here for the record:

- If you installed GLFW via homebrew, the library ID is `glfw` only (not `glfw3`)

Paths for homebrew based installs:

[code]

- `MoltenVK.framework` seemingly must be copied to `/Library/Frameworks`. I did try

[2018-06-06 13:12] xlab commented on #19
@postspectacular
https://developer.apple.com/documentation/iosurface/kiosurfacewidth

Seems that MoltenVK now uses the new framework `IOSurface`, should be added here I think:
https://github.com/vulkan-go/vulkan/blob/master/vulkan_darwin.go#L8

I'm not sure how to be compatible with older OS X versions though...

[2018-06-06 13:34] SCKelemen commented on #16
Website is still down at https://vulkango.com

[2018-06-06 14:45] xlab commented on #16
Yeah, the site was never been up, I currently have no time to make it. 😭

[2018-06-06 14:50] postspectacular commented on #19
Thanks @xlab! That means I will have to wait with getting into this until I'm allowed to update my OSX due to company policies :( (not *your* problem!)

[2018-06-06 14:52] SCKelemen commented on #16
@xlab, so is this library still supported?

[2018-06-06 17:16] xlab commented on #19
@postspectacular or just try to download previous version of MoltenVK, I used 0.16 as far as I can remember.. that on didn't rely on IOSurface.

[2018-06-06 23:08] postspectacular commented on #19
@xlab adding `-framework IOSurface` in both vulkan & glfw repos worked a treat! PRs incoming in a few minutes. thanks so much!

[2018-06-07 06:14] #19 closed

[2018-06-07 10:12] postspectacular commented on #19
@xlab - thanks for accepting the PRs. I did try obtaining an older version of MVK as you recommended, but even [the very first version of MVKImage checked in to GH](https://github.com/KhronosGroup/MoltenVK/commit/fd7b8234f93972be4f9e339f7af31e7cb73f94a7#diff-a18268a910ab464ba2ae400e6e90e08eR26) relies on `IOSurface`... the version 0.16 you mentioned must have been from before they made MoltenVK op

[2018-06-08 00:52] splace commented on #18
well confusingly and inconsistently AFAIKT

the main site, and full spec. page, say no redistribution, but the individual function webpages, claiming to have been extracted from the full spec., are "Attribution 4.0 International" which allows distribution and modification, so they CAN just be inserted, i guess. i'll take a look.

[2018-06-08 10:02] xlab commented on #19
You're right, I've been using the proprietary version of MoltenVK.

[2018-06-24 19:38] kjozic commented on #17
The first version of Vulkan SDK which included MoltenVK was 1.0.69.0. MoltenVK is a wrapper around Metal.

[2018-06-24 22:11] gedw99 commented on #17
ah. i read that a deal was doen and the closed source molten which was
built by a small company "donated" the code to the Vulkna group ?

On Sun, 24 Jun 2018 at 21:38 Krešimir Jozić <notifications@github.com>
wrote:

[2018-06-25 07:09] xlab commented on #17
@gedw99 Vulkan is an API spec over a proprietary implementation in driver. MoltenVK was once a proprietary shareware driver, now is open sourced https://github.com/KhronosGroup/MoltenVK

It is still the same layer over Metal that is supported by this project from the early beginning.

[2018-07-23 12:41] jclc commented on #4
What if you use another library like SDL2 or SFML?

[2018-07-23 21:30] jclc opened #21 "vulkan.CreateInstance throws runtime error"
Calling CreateInstance panics with `runtime error: cgo argument has Go pointer to Go pointer`.

[code]

[code]

[2018-07-24 09:51] xlab commented on #21
Did you use `var vkInstance vk.Instance`?
Also, what platform do you have?

[2018-07-24 18:57] gedw99 commented on #17
Thanks for the clarification..

[2018-07-24 20:00] jclc commented on #21
Declaring vkInstance right before the function call instead of as a top-level variable seems to fix that particular error, but now I'm getting a segfault in the C code
[code]

[2018-07-26 00:53] jclc commented on #21
Here's output from GDB. I'm stumped.
[code]

[2018-07-26 13:36] jclc opened #22 "Remove '-lXdmcp' from Linux linker flags"
There are a few linker flags that don't seem necessary for building. Should these be removed to reduce unnecessary dependencies?

[2018-07-26 13:53] jclc commented on #21
My bad. Didn't realise vulkan-go required a call to Init().

[2018-07-26 13:54] #21 closed

[2018-07-27 08:11] xlab commented on #22
@jclc thanks for noticing, can you send a PR?

[2018-08-15 01:32] jclc opened #24 "Remove GLFW dependency"
The long-term goal should be to remove the hard dependency on GLFW so the bindings can be used with any windowing library.

[2018-08-15 10:33] xlab commented on #24
Good point, any good alternatives to GLFW are welcome. I'd like to see and example of SDL+vulkan

[2018-08-15 16:01] #22 closed

[2018-08-25 01:35] jclc commented on #24
https://github.com/veandco/go-sdl2/ is only missing 6 Vulkan functions, making a wrapper around them shouldn't be too difficult. However, is it possible to transfer C types between different packages? Or should uintptrs be used instead? SDL_Vulkan_CreateSurface takes a VkInstance and a VkSurface as parameters.

Also, it seems that you can't set the InstanceProcAddr on vulkan-go. How about adding s

[2018-08-25 08:10] xlab commented on #24
@jclc uintptrs should be used, please check out https://github.com/vulkan-go/vulkan/blob/master/vulkan_linux.go these functions are hand-written. So we need to have `vulkan_linux.go` and `vulkan_linux_sdl2.go`, the latter with proper calls of the corresponding SDL2 functions.

[2018-08-25 17:33] jclc commented on #24
I'm really not a fan of having to individually support every possible windowing library in the Vulkan bindings. It shouldn't be the Vulkan bindings' responsibility to implement wrappers around these functions. Especially GetRequiredInstanceExtensions, since those functions in both GLFW and SDL2 don't require Vulkan at all, only their respective window handle pointers.

I finished SDL2 Vulkan funct

[2018-08-25 23:33] jclc commented on #24
How about this:
- vk.Init should take a uintptr to the Vulkan GetProcAddr function in order to load symbols. This lets us init without starting up GLFW.
- Remove CreateSurface functions. Can instead add it back in vulkan-go/glfw. This function should then accept a uintptr to VkInstance and return a uinptr containing a VkSurface. I've already made this function for SDL2 but haven't pushed it upstre

[2018-08-27 23:03] jclc commented on #24
I've been working on a big refactor over the weekend. Had to touch up vulkan-go/vulkan, asche, demos and vulkan-go/glfw to root out the dependency on GLFW functions. The calls to glfwGetInstanceProcAddress have been replaced by having the user call vk.SetGetInstanceProcAddr(unsafe.Pointer) or vk.SetDefaultGetInstanceProcAddr() before vk.Init(). The former accepts a pointer returned by a similar fu

[2018-08-29 09:44] xlab commented on #24
Unfortunately this is how Vulkan API was organised, it has functions for each platform it supports, e.g. XCB, Android or whatever. Anyway, thanks for your work on decoupling this stuff.

[2018-08-29 09:44] #24 closed

[2018-08-31 06:14] dragonfax commented on #16
bump.

[2018-09-28 16:17] paul-lalonde opened #27 "CreateGraphicsPipelines clobbers its pCreateInfos parameter"
I go in with valid pCreateInfos, but on return it's been clobbered.
This looks to happen in the unmarshalling of the parameter values back from the C call.  I suspect c-to-go more than the vulkan bindings.

[2018-10-02 14:48] jekstrand opened #29 "Support for VK_KHR_mir_surface should be removed"
See also https://github.com/KhronosGroup/Vulkan-Docs/issues/814

[2018-10-02 15:34] xlab commented on #29
Okay, thanks for letting me know. RIP mir. :)

[2018-10-02 15:34] #29 closed

[2018-10-14 08:28] dominikh commented on #17
@xlab What, other than your time, would be required to update to Vulkan 1.1? Is it merely a matter of regenerating the code and testing it, or does 1.1 involve new objects that your code generator doesn't support?

[2018-10-14 15:04] metalim opened #30 "vulkango.com is down"
Not an issue with the library, but vulkango.com seems to be down for days, if not weeks.

[2018-10-14 16:39] dmitshur commented on #30
I think this is a duplicate of #16.

[2018-10-14 18:09] #17 closed

[2018-10-14 18:13] xlab commented on #17
@dominikh Hi, mostly the header set must be reviewed, hopefully the YAML spec for the generator (vulkan.yaml) stays the same. I just updated to 1.1.88, had to do a few small changes to the generator.

It's not the update, but verification that takes time, I had to rebuild the GLFW demo for my macOS, that included MoltenVK revision, GLFW revision, also we have new loader (see #25) that I didn't hav

[2018-10-14 18:14] xlab commented on #30
Duplicate.

[2018-10-14 18:14] #30 closed

[2018-10-14 18:17] xlab commented on #16
@SCKelemen yes it is being maintained. The code was stable enough to do almost anything you want with Vulkan API, the 1.1 that was merged today as I found some time to verify stuff.

The problem with site is that I planned to create it, but then I found myself coding crypto projects for monies and my free time is currently occupied by basic life functions, I cannot create and maintain the site as

[2018-10-14 18:30] jclc commented on #24
I'm sorry, I don't have a Mac so I can't debug this myself. Which version of SDL2 are you using? Vulkan functions were added in 2.0.6, but for backwards compatibility, the Go bindings implement stubs which return NULL for functions that aren't implemented in that particular version of SDL2. Also, does the GLFW example work?

[2018-10-14 18:44] jclc commented on #24
From the SDL2 wiki (https://wiki.libsdl.org/SDL_Vulkan_LoadLibrary):

It seems like the MoltenVK library must be bundled with the application.

[2018-10-14 19:09] jclc opened #31 "Add a package with bindings for VulkanMemoryAllocator"
The Vulkan spec doesn't require the driver to handle memory allocation, leaving the user with the responsibility to deal with the memory management. For most use cases however, [the VulkanMemoryAllocator library](https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator) is sufficient. Would be nice having it included with the Vulkan bindings, perhaps under a subpackage called `vma`.

[2018-10-14 21:48] dmitshur commented on #16
@xlab Since the website does not exist at this time, maybe it would make sense to remove its URL? When/if you do create it, you can re-add the URL.

I think people get confused because the URL exists, but the website does not.

[2018-10-15 00:04] jclc opened #32 "Missing an LDFLAGS directive on Linux/Unix"
First of all, love the refactoring; the repository is looking much nicer now without the different source files for each of the desktop platforms. We should strive for as little platform-specific code as possible. However, when the Linux source file was deleted, the cgo directive for linking with dl was also removed, preventing building.

[code]

A simple solution is to just add `#cgo linux LDFLAG

[2018-10-15 00:37] jclc commented on #32
As a sidenote, the conventional method of having autogenerated code in Go projects is through go generate directives, eg. just a file with the contents:
[code]
I'd make a PR for this issue, but I don't know what commands I need to run to generate vulkan.go. With go generate directives, you just run `go generate` in the package directory.

[2018-10-15 02:17] jclc commented on #32
Another thing I noticed is that `#cgo CFLAGS: -I. -DVK_NO_PROTOTYPES` is duplicated in vulkan.go, vulkan_ios.go, vulkan_darwin.go and vulkan_android.go.

[2018-10-15 06:07] xlab commented on #32
Oops, I just got it back, only for this purpose. I could put the platform specific cflags / ldflags into the YAML manifest, but then it will copy those values across all generated files. And users sometimes contribute useful changes to these variables, I don't want to change them in 6-8 places and force them to run the generator. So as inspired by the GLFW repo https://github.com/go-gl/glfw I put

[2018-10-15 06:16] xlab commented on #24
@jclc yes GLFW works well, I tested everything using GLFW.

As for SDL2, I have frameworks in `/Library/MoltenVK.framework` so it must be in the search path too.. I think this is purely macOS specific, I'll find the issue and report back.

[2018-10-15 06:41] xlab commented on #24
@jclc turns out that some kind of build cache is involved, as any change to C files in `github.com/veandco/go-sdl2/sdl` results is a successful re-compilation and the app works.

I tried to use `go clean` but the most successful fix was to remove `$GOPATH/pkg` lol :)

<img width="1026" alt="screen shot 2018-10-15 at 13 41 22" src="https://user-images.githubusercontent.com/477998/46933894-0dc1dc00-

[2018-10-15 19:08] #32 closed

[2018-10-16 00:29] jclc commented on #31
I have some preliminary work done at https://github.com/jclc/vulkan/tree/vma. This might be a little tricky since while the header defines the interface in C, the implementation is in C++.

[2018-10-16 08:11] xlab commented on #31
@jclc what do you think about separating this into standalone repo? E.g. https://github.com/vulkan-go/vma
The project is too big to add side-projects in the root..

[2018-10-16 16:02] xlab commented on #31
@jclc  usually by hand, using helpers that accept `uintptr`s

[2018-10-27 04:39] #13 closed

[2018-10-29 20:28] delaneyj commented on #13
Thank you!

[2018-11-03 16:18] kjozic opened #33 "Missing Vulkan 1.1 functions"
Vulkan 1.1 introduced some new functions. The most important function is EnumerateInstanceVersion() which is used to enumerate supported instance versions. Many extensions are now members of the Vulkan core:
- VK_KHR_16bit_storage
- VK_KHR_bind_memory2
- VK_KHR_dedicated_allocation
- VK_KHR_descriptor_update_template
- VK_KHR_device_group
- VK_KHR_device_group_creation
- VK_KHR_external_memory
- V

[2018-11-06 11:36] xlab commented on #33
@kjozic yep, it seems that I updated to 1.1 without capturing those functions, I will refactor the API to match 1.1 better soon.

[2018-11-16 22:18] splace commented on #15
just tried current package, works without above tag changes.

[2018-11-16 22:18] #15 closed

[2018-11-23 19:35] Noofbiz opened #34 "vulkan.CreateDevice throws runtime panic"
I'm trying to create a device via

[code]

which looks almost exactly what you have in asche. However, I am getting a runtime panic when I try it

[code]

This has worked for me before, but trying to run it today is causing this problem. I've tried printing all the things passed to make sure okay and it looks fine. Anyone have any tips or advice?

ETA: The second panic, index out of range, is in t

[2018-11-23 21:06] xlab commented on #34
Hi, I think you've updated your Go installation, because this error is detected by never Go runtimes (1.8+ as far as I remember), also it never worked that way for me:

https://github.com/vulkan-go/asche/blob/master/platform.go#L218-L229

In my examples I create a local variable and pass it around, only then set that to the struct. I had to do that, because of this error otherwise.

It complains a

[2018-11-23 22:20] Noofbiz commented on #34
Ah, I see. Thanks ^_^

[2018-11-23 22:20] #34 closed

[2018-11-24 00:05] Noofbiz commented on #34
As a note in case anyone else hits this issue and finds it, I ended up getting rid of v.pd as well, so the only things passed were local variables.

[2018-11-24 11:17] xlab commented on #34
@Noofbiz actually `v.pd` here is okay, as it's just a single pointer. Same as `ret = vk.CreateDevice(p.gpu, ...` in my code

[2019-01-01 23:48] Noofbiz opened #35 "Should AllocateDescriptorSets take []DescriptorSet rather than *DescriptorSet?"
Like how CommandBuffers or other ones that have multiple names, they generally take a slice rather than a pointer. It's possible to do it this way in Vulkan in C++ as follows

[code]

[2019-01-02 12:01] xlab commented on #35
Yes, in most cases the difference between a reference and an array is not clear to the automated conveter. So it must be specified in the manifest — https://raw.githubusercontent.com/vulkan-go/vulkan/master/vulkan.yml

[2019-03-26 12:44] rcoreilly opened #36 "accessing GetInstanceProcAddr externally (to call vkCreateMacOSSurfaceMVK)"
I'm trying to integrate vulkan-go into my graphics package which has its own existing platform-specific backends, so I don't want to use GLFW.  I want to be able to call e.g., vkCreateMacOSSurfaceMVK on macos to create a surface.  As far as I've been able to determine, I need to do something like this:

    vkCreateMacOSSurfaceMVK = (PFN_vkCreateMacOSSurfaceMVK)
        vgo_vkGetInstanceProcAddr(i

[2019-03-26 23:44] rcoreilly commented on #36
figured it out -- just including vulkan/vulkan.h directly in my .m file and then I can access vkGetInstanceProcAddr directly from there -- and need to add vulkan as a link framework too.  i.e., just needed to go down to the vulkan level instead of using the vulkan-go wrappers at this point.

[2019-03-26 23:44] #36 closed

[2019-03-27 22:05] delaneyj opened #37 "Support debug_utils"
Was going through the [Vulkan tutorial]() and noticed `debug_report` work via your demos but `debug_utils` used by the tutorial is not. The [spec](https://vulkan.lunarg.com/doc/view/1.1.82.1/windows/layer_configuration.html) says

There are two general methods for controlling layer behavior supported by most of the layers listed herein: layer settings file and a debug extension. The layer settings

[2019-03-27 22:12] delaneyj commented on #37
Also `vk.ExtDebugReportExtensionName` exists but have to add `+"\x00"` to makes it null terminated to use in `vk.InstanceCreateInfo.PpEnabledExtensionNames`.  I this is know from the demos but curious why its a special case.

[2019-05-14 20:10] jclc commented on #31
There are now (mostly) functional bindings at https://github.com/vulkan-go/vma

[2019-05-14 20:10] #31 closed

[2019-05-19 23:48] kohlten opened #38 "EnumerateInstanceLayerProperties not setting the go struct values to the C values"
So I am getting into vulkan using go and I am having some issues. When calling EnumerateInstanceLayerProperties it will return correctly, but the Go struct values are not correct. I can see internally that the internal values are correct however.

![Screenshot from 2019-05-19 16-40-34](https://user-images.githubusercontent.com/32156797/57989816-361a1a80-7a55-11e9-992f-58881e67adb0.png)

Here is my

[2019-05-19 23:55] Noofbiz commented on #38
You have to do `layers.Deref()` to make the go side get the updates from the C side, I believe. I had a similar issue at some point.

[2019-05-20 00:01] kohlten commented on #38
Thank you that fixed it.

[2019-05-20 00:01] #38 closed

[2019-07-08 07:58] yarbelk commented on #33
@xlab any news on this?

[2019-09-06 20:47] SCKelemen commented on #16
Closing because it's been down for over a year.

[2019-09-06 20:47] #16 closed

[2019-09-12 15:12] tfriedel6 opened #39 "Init, getting null functions on Linux with Nvidia"
Hi! Just wanted to let you know that (unless I made some mistake) on Linux with the proprietary Nvidia driver I only get the three functions from the Init function, all other functions result in a null pointer unless an instance is provided.

I worked around it by calling Init, then creating the instance, then calling InitInstance with that instance. This works, but of course it checks for most th

[2019-12-31 22:15] celer commented on #35
+1

[2020-01-01 02:01] celer opened #40 "VkCommandBufferBeginInfo has incorrect array type for pInheritanceInfo"
Spec says pInheritanceInfo takes a single value, but it's specified as an array in vulkan-go

https://www.khronos.org/registry/vulkan/specs/1.1-extensions/man/html/VkCommandBufferBeginInfo.html

[2020-01-01 22:56] celer commented on #40
Thank you for this repo, I created this repo off of it https://github.com/celer/vkg my goal is to get to a custom 3D editor (similar to OpenSCAD) for 3d printing.

[2020-01-04 00:05] xlab commented on #40
Hi! I have some time next day to fix this. I'll also re-gen bindings against new headers.

[2020-03-01 22:04] davidmanzanares opened #42 "Go pointer stored into non-Go memory crashes"
Hi, I tried to enable the debug reporting callback on the go vulkan demo (vulkancube) by setting VulkanDebug() to return true:
[code]

It crashes with:
[code]

I'm pretty worried about this issue because, when I restored the original code to disable the reporting functionality, but enabled Go's CGO checker to the maximum,  `vk.CreateInstance` crashed hard due to the same problem:

[code]

Is this

[2020-03-10 08:03] jclc commented on #42
Are you using the Go race detector? It caused similar errors for me when I knew for sure that there was nothing wrong.

[2020-03-10 15:08] xlab commented on #42
I'm pretty sure this is the issue:

1. `github.com/vulkan-go/vulkan/cgo_helpers.go:171`:

[code]

2. `github.com/vulkan-go/vulkan/cgo_helpers.go:342`:

[code]

When c-for-go project started in 2015, it was relatively safe practice to pass memory behind `string` into C land without copying. Nowadays it's considered not safe, moreover, this particular pointer to Go memory is stored inside C struct m

[2020-03-10 16:02] jclc commented on #42
Perhaps a rewrite for the bindings would be in order? The bindings have worked fine for me but there are small issues like this and also some performance and memory safety questions I'm worried about, particularly with regards to wrapped structs.

[2020-03-10 16:44] xlab commented on #42
@jclc as been discussed in https://github.com/xlab/c-for-go/issues/86 performance and memory safety questions with wrapped structs is a phantom problem — I've never seen any reasonable numbers, and for my use cases there is no issues at all..

There are some tricky parts in binding generation, like callbacks, especially with custom memory allocators for Vulkan. I think this is a standalone feature

[2020-03-10 23:52] davidmanzanares commented on #42
Thank you!

No, I haven't used the race detector.

That would be amazing, I noticed the `\x00` too, it would be a nice plus.

Btw, thank you very much for doing this project, despite GC, runtime, and all of that, I've had great experiences with Go and OpenGL in the past, it's really nice to be able to use vulkan now.

[2020-03-20 02:40] cers000 commented on #33
The Vulkan 1.2 specification was launched on January 15th, 2020

[2020-04-07 05:21] mrjoshuak commented on #42
I tried the naive approach of simply replacing `unpackPCharString` and  `packPCharString` with the cgo equivalents `C.CString` and `C.GoString` respectively but this did not seem to fix the issue.

[2020-04-11 07:37] losinggeneration opened #43 "Vulkan 1.2"
_Originally posted by @cers000 in https://github.com/vulkan-go/vulkan/issues/33#issuecomment-601501892_

As such, a new issue is probably a better place to track that than the issue for the missing 1.1 functions. [Here's what's changed](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/html/vkspec.html#versions-1.2) since 1.1:

## Vulkan Version 1.2 promoted a number of key extensions i

[2020-04-20 16:27] RobinWragg opened #44 "go get fails on macOS Mojave"
After adding MoltenVK.framework and vulkan.framework to /Library/Frameworks, I ran `go get github.com/vulkan-go/vulkan` which gave me this:
[code]
It appears MoltenVK isn't able to link with QuartzCore and other system frameworks. Is there a step I'm missing or is this broken for other people too? I'm not able to test this on Catalina. I intend to use these bindings with github.com/veandco/go-sdl2

[2020-06-25 21:16] ZergsLaw opened #45 "Vulkan 1.2"
will there be an update to 1.2?

[2020-06-25 21:19] #45 closed

[2020-07-01 13:11] jclc opened #46 "Unable to generate bindings on Linux"
I would like to update the bindings to the latest version but the code generation script fails with the following error:

[code]

I believe this was related to a c-for-go issue where the script expects all headers to be located in `/usr/include`. On Linux compiler-specific headers such as this are located in subdirectories such as `/lib/gcc/<target>/<version>/include` for gcc and `/lib/clang/<vers

[2020-07-11 19:38] jclc commented on #46
Turns out c-for-go supported compiler-specific include dirs all along, I just had to enable the `-ccincl` flag! The only problem is that the resultant files now have `int` and `uint` in place of every `int64` and `uint64`, even when the headers clearly use explicit types like https://www.khronos.org/registry/vulkan/specs/1.2-extensions/man/html/VkDeviceSize.html. Any clue what could be causing thi

[2020-07-11 22:09] jclc commented on #46
There are also some errors related to new types/enums/functions, it is unclear to me how vulkan.yml should be edited to accomodate changes. Perhaps a short contribution guide could be added in the readme?

[2020-09-21 18:57] nickswang commented on #46
@jclc Have you made any progress with this? The Vulkan version supported by the bindings here is officially 1.18

[2020-09-21 19:01] nickswang commented on #43
@losinggeneration @xlab @jclc Do you all want to work on this? Any incentive to do so? Discord?

[2020-09-21 22:28] jclc commented on #46
The issue here is that the bindings generator https://github.com/xlab/c-for-go isn't producing the same results on different operating systems. I haven't had the time to delve deeper into the root cause of the issue.

[2020-10-15 00:17] splace opened #47 "segfault in vulkaninfo example"
on investigating seems to be three issues in play (see below code extract)

deviceCreate requires swapchain, my vulkan setup doesn't have it, so this errors.

but swapchain doesn't actually seem to be needed anyway, so it just commented it out to fix.

but when erroring the code calls DestroySurface without first having setup one, so this is the seqfault.

again i just commented out to get to work

[2020-10-24 21:42] splace commented on #47
actually vulkaninfo (the CLI) shows it does, i did wonder, vulkaninfo (the example) says, when fixed, that it doesn't.

in fact; about half the device extensions aren't being reported.

[2020-11-15 19:23] xlab commented on #46
@jclc regarding `int/uint` issues, I hope this commit will help to generate more consistent code:

https://github.com/xlab/c-for-go/commit/ddcfe2673053652b6566fa8fabe6d0966a6b4ed9

[2020-12-29 14:32] shravanshetty1 opened #49 "EnumerateInstanceExtensionProperties seems to return extension properties without any name"
I am trying to learn vulkan through golang following - https://vulkan-tutorial.com/.
While recreating - https://vulkan-tutorial.com/en/Drawing_a_triangle/Setup/Instance, i found my EnumerateInstanceExtensionProperties seems to return extensions without any name.

Code to reproduce issue can be found here - https://github.com/shravanshetty1/vulkan-tutorial-go/blob/master/2-instance/app/app.go#L86

[2020-12-29 19:11] #49 closed

[2020-12-29 19:15] shravanshetty1 commented on #49
You will have to call Dref() on every struct, not sure why this cant be done automatically by the binding

[2020-12-29 23:26] xlab commented on #49
@shravanshetty1 that causes a full copy from C mem and allocates Go struct and memory. That can be very performance heavy.

[2020-12-30 07:42] shravanshetty1 commented on #37
I can create instance with `debug_utils` using \x00 - however many of the debug utils datastructures arent present.
vk.DebugUtilsMessengerCreateInfo is not present while vk.DebugReportCallbackCreateInfo exists forcing the usage of `debug_report`. Any idea why its missing?

[2020-12-30 23:14] splace commented on #47
after the latest update to [vulkan](https://vulkan.lunarg.com/doc/sdk/1.2.162.0/linux/release_notes.html) (solus) all extensions produced by this are now agreeing with vulkaninfo. which is reassuring.

[2021-01-01 09:19] shravanshetty1 opened #50 "[Question] Is there an easier way to debug errors from C?"
When ever the c code errors out it just crashes the program with seg fault without anyway of telling whats wrong. Is there a way i can easily debug errors thrown from C while using this package?

I spent hours debugging swapchain, while i had just forgotten to add the swapchain extension. In bigger programs i am not sure i would have ever found the problem since there is no information to go on. A

[2021-01-01 23:00] xlab commented on #50
Yo, have you tried `gdb`? :)

[2021-01-02 04:42] #50 closed

[2021-01-02 18:16] delaneyj commented on #37
@shravanshetty1  I moved on to doing stuff directly in C to avoid the disconnect :(

[2021-01-05 15:11] lentus commented on #46
Took a shot at regenerating the bindings, it seems like some `uint`/`uint8`/`uint64`/`long` are changed to `uint32`. Go build runs fine though (Ubuntu 20.04, Go 1.15.1, gcc 9.3.0 in case that's relevant). You can find my fork here: https://github.com/lentus/vulkan/commit/fc4636f5c6d297bd003a22dae31d89f6e95eb7e9.

Also tried generating bindings for Vulkan 1.2.166, but ran into some issues when doin

[2021-02-20 20:58] wilkesreid commented on #43
I would like to work on this. I'd like to see a regen (or whatever else is necessary) happen to get this to the most recent version of Vulkan

[2021-03-25 15:29] alansikora opened #51 "Having trouble linking the MoltenVK framework on macOS"
When I run `go get "github.com/vulkan-go/vulkan"`, the framework cannot be found:

[code]

I tried copying `MoltenVK.xcframework` to the `/Library/Frameworks` folder, symlinking, also with `vulkan.framework` and I can't make it work.

I also tried to run it with sudo, no luck.

Can someone help me?

[2021-04-01 12:58] ptxmac commented on #51
It seems MoltenVK switched to use the new `xcframework` which is great for packaging multiple static libraries for different platforms - unfortunately, it doesn't play nice with clang.

I was able to work around the problem by using the dylib version of MoltenVK, unfortunately that required me to fork `vulkan-go/vulkan` and `vulkan-go/glfw` since there's no way to replace the linking flags.

I've

[2021-04-02 13:57] xlab commented on #51
@ptxmac I'm okay to always follow the bleeding edge. If that's a simple change (and doesn't require full re-gen), then PR is very welcome :)

I don't see the point to use framework version at all..

[2021-04-02 14:03] ptxmac commented on #51
The framework version might be useful for creating iOS / tvOS / etc apps - but it shouldn't be a blocker.

Unfortunately, the MoltenVK project only provides make targets for installing the xcframework. So the installation becomes a bit more manual.

I'll put up some PRs with the changes

[2021-04-02 14:22] ptxmac commented on #51
For vulkan: https://github.com/vulkan-go/vulkan/pull/52

And the same change for glfw: https://github.com/vulkan-go/glfw/pull/6

[2021-04-12 21:58] neurlang opened #54 "GetPhysicalDeviceSurfaceCapabilities() does not return anything"
hello, at minimum 3 rows needs inserting into GetPhysicalDeviceSurfaceCapabilities()

[code]

this is required to make it return a value using the result pointer.
thanks

[2021-04-13 17:52] neurlang commented on #54
Same problem here, MemoryTypeBits is not filled
[code]

[2021-04-13 20:09] neurlang commented on #54
I think it is a more general problem, same at the end of GetPhysicalDeviceSurfaceFormats()

+	for i := range pSurfaceFormats {
+		pSurfaceFormats[i].Format = Format(pSurfaceFormats[i].refedaf82ca.format)
+		pSurfaceFormats[i].ColorSpace = ColorSpace(pSurfaceFormats[i].refedaf82ca.colorSpace)
+	}
	return __v
}

[2021-04-13 22:28] xlab commented on #54
Yep, something's missing. I'll look into that

[2021-05-02 20:13] mojzesh opened #55 "PhysicalDeviceProperties -> Limits, all values returned from GetPhysicalDeviceProperties() are set to 0"
Hey! Thanks for great library!

I spotted the following issue with this lib. today on macOS.
When I call `GetPhysicalDeviceProperties()`, I can get other properties like `DeviceName`, `VendorID` of `PhysicalDeviceProperties` just fine, but the embedded `Limits` structure has all values set to `0`.

I'm not sure if this is my local problem or it's just a bug?

```{MaxImageDimension1D:0 MaxImageDime

[2021-05-03 15:53] splace commented on #55
just checking, as another user who initially didn't get this, are you dereferencing?

[code]

[2021-05-05 16:23] xlab commented on #55
Yeah all structs that are mapping to C should be `Defer`'d which is a copying operation

[2021-05-05 16:30] mojzesh commented on #55
@splace @xlab I'm pretty sure I'm doing that. I'm using Asche and it's doing that oob:
https://github.com/vulkan-go/asche/blob/d4b318b67e07d52979747970be6463817ea6ed18/platform.go#L116

[2021-05-05 18:28] mojzesh commented on #55
@splace @xlab
Thanks guys for your help, I just looked at this again, and got it working now.
I just realised that I need to also call `Deref` on the nested `Limits` struct separately
So I've just done something like pasted below and it works now!:

[code]

Output:
```{MaxImageDimension1D:16384 MaxImageDimension2D:16384 MaxImageDimension3D:2048 MaxImageDimensionCube:16384 MaxImageArrayLayers:2048

[2021-05-05 18:28] #55 closed

[2021-05-25 12:20] dawsonc623 opened #56 "panic: runtime error: cgo argument has Go pointer to Go pointer"
I am trying to follow https://vulkan-tutorial.com/ except using Go. I have done the tutorial once in C/C++, so I have a basic understanding of Vulkan (emphasis on basic). I also have some Go experience, but not much when it comes to CGo. I get the error in the title when running this code:

[code]

In particular, `vk.CreateInstance` is failing. I am not familiar enough with CGo and how memory shar

[2021-08-16 22:46] octalide commented on #43
Has there been ANY forward progress on this issue? This package is now horribly and unfortunately out of date.

[2021-08-17 05:20] xlab commented on #43
@octalide
Sorry mate. Fully busy on the main job, there can be a chance I’ll take a look at this, during next few months.

[2021-10-18 18:43] ibd1279 opened #57 "DeviceCreateInfo.PEnabledFeatures should be a pointer, not a slice."
The Vulkan documentation for [DeviceCreateInfo](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/man/html/VkDeviceCreateInfo.html) states that

But the currently generated [DeviceCreateInfo](https://github.com/vulkan-go/vulkan/blob/master/types.go#L597) has a slice instead of a pointer for the `PEnabledFeatures` field.

Is this a matter of adding another hint into [struct section of vu

[2021-10-19 12:46] einthusan commented on #33
A repo called "go-vulkan" seems to support Vulkan 1.1 and has a much neater API than this repo (vulkan-go).
https://github.com/sparkkoori/go-vulkan

Is anyone willing to do a performance test comparing the two packages?

[2021-11-14 15:11] torbenschinke commented on #56
Just had the same problem: It looks like this happens if `&h.instance` is allocated in a Go heap span. If you just declare a local (stack) variable like `var instance vk.Instance` and take the pointer from that, it seems to "work".

Seems still not right though...

[2021-11-15 11:46] xlab commented on #56
Yeah, that's why Asche uses that pattern everywhere.

https://github.com/vulkan-go/asche/blob/d4b318b67e07d52979747970be6463817ea6ed18/platform.go#L74

Can't remember a scientific explanation for that now..

[2022-01-12 08:31] Nv7-GitHub opened #58 "SetDefaultGetInstanceProcAddr doesn't work on MacOS"
Using `SetDefaultGetInstanceProcAddr` on MacOS just causes the error `vulkan: error loading default getProcAddr`. This is because:

1. First, this function calls `setDefaultProcAddr` https://github.com/vulkan-go/vulkan/blob/956e3850d8f9d2e617caf5a60622c638ff729c2b/init.go#L22
2. In `setDefaultProcAddr`, it calls `getDefaultProcAddr` https://github.com/vulkan-go/vulkan/blob/956e3850d8f9d2e617caf5a6

[2022-01-12 08:34] Nv7-GitHub commented on #51
The Makefile didn't work, however using ```CGO_CFLAGS="$(pkg-config --cflags glfw3)" CGO_LDFLAGS="-L/usr/local/lib $(pkg-config --libs glfw3)" go build``` works. (Note the `-L/usr/local/lib` part)

[2022-01-12 08:35] Nv7-GitHub opened #59 "fatal: repository 'https://github.com/xlab/linmath-go/' not found"
When trying to run `vulkancube` or `vulkandraw`, I get
[code]

[2022-01-17 16:00] xlab commented on #59
Weird, it was https://github.com/xlab/linmath since 2017 :D

[2022-02-18 02:57] nergdron commented on #43
it might be helpful if someone who knows can produce a guide on updating the bindings from the latest upstream, then anyone in the community who has time could work on getting it sorted out. I've been hoping for a while now that this would get updated, but it seems like everyone's real busy.

[2022-03-24 01:19] bkshrader opened #60 "Null-terminate go strings"
If possible, I would like if the package would automatically append a null terminator where appropriate converting from go strings to c strings.

An example of the current behavior when creating a vulkan instance demonstrates my problem:
[code]
I would like if using the constant `vk.KhrSurfaceExtensionName` or replacing it with its literal value `"VK_KHR_surface"` would both succeed without the ne

[2022-03-27 21:27] xlab commented on #60
@bkshrader I think Vulkan bindings use unsafe approach to avoid extra allocations (implicit). So you can have safe string only where you need that. Essentially, `SafeStrings: false` for this project.

This is something to consider when I have time to revisit this. Right now you'd better make a safe string helper. Sorry.

[2022-03-27 21:38] bkshrader commented on #60
No worries. I know it's not critical, just something that would be nice to see. In the meantime, would you consider adding a safe string helper to the library, or at least adding a mention in the documentation that it needs to be done?

The null terminators are an extra step compared to writing vulkan code in c++, and the error message when leaving them out is misleading.

[2022-05-03 13:48] fijosilo opened #61 "How can i get a vk.Surface ?"
Hello
I am trying to create a vk.Surface and i know of two ways to create it.

Using platform specific code like the function vkCreateWin32SurfaceKHR from the Vulkan API, however this function does not seam to be defined in these bindings.

Using the function CreateWindowSurface from GLFW with is platform agnostic and the preferred way to do it when using GLFW, the problem is i don't know how to u

[2022-05-04 11:06] fijosilo commented on #61
I figured it out i need to convert the uintptr to an unsafe.Pointer `unsafe.Pointer(surface)` then type cast this pointer to a vk.Surface pointer `(*vk.Surface)(unsafe.Pointer(surface))`, because you can't convert an address to a vk.Surface, then you can grab what the pointer points at `*(*vk.Surface)(unsafe.Pointer(surface))` and that will be a vk.Surface.

This being said this was really a probl

[2022-05-04 11:06] #61 closed

[2022-05-05 20:38] xlab commented on #61
No probs, let it just be there. Yeah, unsafe pointer casting is what I originally tried to avoid in the lib. There must be a higher level abstraction for that!

[2022-05-08 17:10] #7 closed

[2022-05-12 08:55] rcoreilly commented on #43
See #62 -- maybe someone can try it out on linux or windows?  I will try it later myself at some point..

[2022-05-12 10:30] rcoreilly commented on #43
Actually, I just did `make` in the current `vulkan-go` repository without updating the `vulkan/*.h` headers and it crashed in exactly the same way.  So I reverted to the Oct 14, 2018 c-for-go (d57f9ec2a5f5456377e535ad9d81bb9b9b2797d9) and now it works in this 1.3.211.0 version of Vulkan in PR #62.  See the `UPDATING.md` file in this PR for full details.

[2022-05-12 11:11] nergdron commented on #43
I was actually just trying to update this myself yesterday, ended up filing some bugs with `c-for-go` upstream. for some reason the current version replaces all `[u]int64` refs with `[u]int32`, which is the source of the crashes. in the mean time this workaround seems very helpful, would love to see this get merged so we have `1.3` support in Go. thanks @rcoreilly!

see: https://github.com/xlab/c-

[2022-07-14 10:37] Wsyspringsun opened #63 "vulkancube_glfw make"
MoltenVK installed:
C02F32EDML85:vulkancube_glfw bytedance$ ls /usr/local/lib/MoltenVK/
MoltenVK.xcframework	dylib			include

run:
C02F32EDML85:vulkancube_glfw bytedance$ make
CGO_CFLAGS="-I"/usr/local/Cellar/glfw/3.3.7/include"" CGO_LDFLAGS="-L"/usr/local/Cellar/glfw/3.3.7/lib"" go install

error:
# github.com/vulkan-go/vulkan
ld: framework not found MoltenVK
clang: error: linker command failed w

[2022-09-01 22:10] nergdron commented on #43
upstream just merged a ccv4 change and this seems to have solved a lot of the issues I was having updating this codebase. there's some outstanding errors with duplicate declarations that hopefully we can get resolved with upstream's help, but it looks like we may be able to move some of this forward again:

[code]

[2022-09-07 19:43] neurlang opened #64 "Please provide Stuffs needed cube to run on wayland linux"
Recently I got running the go-wayland-cube demo on Nvidia on Wayland Ubuntu Linux. This fixed the last big gpu vendor (Intel, Amd worked fine).

I've used egl-wayland-1.1.11, and driver was 515.65.01

The things missing from your awesome vulkan package to make this work are available in the vulkan/ subdir of my repo [github.com/neurlang/wayland/tree/master/vulkan](https://github.com/neurlang/wayla

[2022-09-09 17:02] xlab commented on #64
@neurlang mind creating a simple PR pls? :)
I can quickly merge if it looks fine

[2022-09-09 19:14] neurlang commented on #64
Please don't merge yet,
Just take a look at the fork and tell me what you think about the changes
https://github.com/neurlang/vulkan

Big problem is there are now two vkCreateInstance, the old one CreateInstance and a new one I renamed as WaylandCreateInstance.

The behavior of the old one needs to support both cases.

[2022-09-09 20:28] neurlang commented on #64
I'd say the old CreateInstance should not be auto generated anymore, and it should iterate InstanceCreateInfo.PpEnabledExtensionNames to see if there's string "VK_KHR_wayland_surface\000". When that string is found, it could trigger the wayland behavior.

But I'm no expert on the matter.

[2022-09-11 16:21] xlab commented on #64
Hi, I think there is some confusion between `vk.CreateInstance` and `vk.CreateWindowSurface`, the latter is platform-specific, and the former is not. For instance, in this case:
<img width="1100" alt="Screenshot 2022-09-11 at 11 15 17" src="https://user-images.githubusercontent.com/477998/189537973-6e2e6458-3599-4d9c-8a94-0394f4c2fedf.png">

I don't see that create instance function has anything s

[2022-09-11 16:23] xlab commented on #64
Also, there is a high-level abstraction over platform init that I made:
https://github.com/vulkan-go/asche

Specifically, your App has to implement a single interface, for example, there is an Android app that creates own surface:
https://github.com/vulkan-go/demos/blob/7232238edeba325ac4f953a9e77feaf18d4b414e/vulkancube/vulkancube_android/main.go#L24-L25
(using the platform-dependent method)

So

[2022-09-11 17:36] neurlang commented on #64
Yeah I didn't do anything platform specific in vkCreateInstance.
In my case the problem was that I didn't call vk.Init() after vk.SetDefaultGetInstanceProcAddr()
Now after fix, I removed the my version of vkCreateInstance, used yours and cube still works.

[2022-09-11 17:43] neurlang commented on #64
What remains needed is the following:

- expose vkGetPhysicalDeviceFeatures2 in your api
- expose vkCreateWaylandSurfaceKHR in your api
- expose vkGetPhysicalDeviceWaylandPresentationSupportKHR in your api

- add WaylandSurfaceCreateInfo type to your api
- add WaylandSurfaceCreateFlags type to your api

Optionally also these two vars, they are difficult to make in go:
VkPipeline nilPipeline =  (Vk

[2022-09-12 05:27] neurlang commented on #64
Done.

vkGetPhysicalDeviceFeatures2 also isn't strictly needed, and will be added by other's effort.

Pls have a look:
https://github.com/vulkan-go/vulkan/pull/65

[2022-09-13 18:37] neurlang commented on #64
Any feedback for the PR? Any possible problems?

Is the approach of setting the build define VK_USE_PLATFORM_ANDROID_KHR using -tags wayland ok with you?

Users who don't use this tag will be unaffected by this merge.

And vkGetPhysicalDeviceFeatures2 can be done later by upgrading to newer vulkan.

[2022-09-16 22:38] xlab commented on #64
Everything looks fine, I merged! :)

[2022-09-16 22:39] #64 closed

[2022-11-02 04:42] neurlang commented on #60
I think that the check to see if the last character is 0 is pretty cheap.
That way, adding null termination on this package side could be done any day without breaking existing users.

[2022-11-02 11:35] xlab commented on #60
Check is cheap, but actually appending 0 is an allocation. However I think we'd prefer UX there more that true performance.

[2022-11-26 16:57] tomas-mraz opened #68 "Android support from version 8"
Hi,
I try to make working [Vulkan demos](https://github.com/tomas-mraz/vulkan-go_demos) on a Samsung phone with Android 8 (Oreo) and the loader does not work (something about missing "ProcAddr").
It looks like the Android Vulkan Loader is different from Khronos Loader but uses the same protocol for initializing the dispatch table as Khronos one.

I try to use the same wrapper for Android as for de

[2022-11-27 13:10] xlab commented on #68
Awesome! Thank you very much

[2022-11-27 13:10] #68 closed

[2022-11-27 13:13] xlab commented on #68
The Android support was implemented as early as possible, I remember ordering Nvidia SHIELD Tablet K1 which was (I think) the first one of the consumer devices to support Vulkan...

Glad they established some standards since Oreo 8!